{% extends 'base.html' %}
{% block content %}
    <div class="post">
        <div class="post-header">
            <h3 class="post-title">About this blog.</h3>
        </div>
        <p class="post-body">
            This blog was hand-built using <a href="https://www.djangoproject.com/">Django</a>, a <a href="http://www.python.org/">Python</a> based web-framework, in <a href="http://www.jetbrains.com/pycharm/">PyCharm</a> and <a href="http://www.vim.org/">vim</a> on <a href="http://linuxmint.com/">Linux Mint</a>,
            version controlled with <a href="http://git-scm.com/">Git</a> via <a href="https://github.com/">GitHub</a>, dependency conrolled with <a href="http://pypi.python.org/pypi/virtualenv">VirtualEnv</a> wrapped in <a href="http://www.doughellmann.com/projects/virtualenvwrapper/">VirtualEnvWrapper</a>,
            backended with the <a href="http://pypi.python.org/pypi/South/">South</a> library over a <a href="http://www.mysql.com/">MySQL</a> database, hosted on <a href="http://www.webfaction.com/?affiliate=ryanprater">WebFaction</a>
        </p>
    </div>
    <div>
        If you think we could be friends, find me here:
        <br/>
        Ryan Prater
        <ul>
            <li>
                Email - ryan.j.prater @ gmail.com
            </li>
            <li>
                <a href="https://my.indeed.com/me/ryanprater">Indeed Resume</a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/ryanprater">LinkedIN Resume</a>
            </li>
            <li>
                <a href="https://twitter.com/praterade">Twitter</a>
            </li>
            <li>
                <a href="https://github.com/ryanprater">GitHub</a>
            </li>
            <li>
                <a href="http://grooveshark.com/#!/praterade">Grooveshark</a>
            </li>
        </ul>
    </div>
{% endblock content %}
