{%  load staticfiles %}
<html>
<head>

    <title>centeroftheinter.net</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css" />

    <!--Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30945749-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body>

    <div id="container">
        <nav id="navbar">
            <a id="header-blog" href="/blog">blog.</a>
            <a id="header-about" href="/about">about.</a>
            <h4 id="header-subtext">under construction</h4>
        </nav>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>